server:
  port: 8764
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defultZone: http://eureka8761.com:8761/eureka,http://eureka8762.com:8762/eureka
spring:
  application:
    name: eureka-provider
